* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-container a {
    text-decoration: none;
    color: #fff;
}
.header-container a:hover{
    cursor: pointer;
    font-weight: bold; 
    box-shadow: rgba(255, 255, 255, 0.7);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1.2rem;
}

.together {
    display: flex;
}

.content-container{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

/* .img-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} */

#image-1, #txt-1 {
    display: inline-block;
}

#image-2, #txt-2 {
    display: inline-block;
}

.paragraph-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 30px;
}

.paragraph {
    background-color: rgb(0, 0, 128,);
    color: #000;
    /* opacity: ; */
}

.single-image{
    background-color: #e00a0a;
}



.adder-container{
    background-color: #000;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    padding: 30px;
    /* border-radius: 1rem; */

    
}
.about-container{
    background-color: #000;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    padding: 30px;
    /* border-radius: 1rem; */
    
    
   
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    

}
.adder {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto auto;
    padding: 5rem 5rem;
    color: #fff;
    margin-left: 150px;
    
    
}

.about-company {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto auto;
    padding: 5rem 5rem;
    color: #fff;
    margin-left: 150px;

}

.logo {
    width: 100px;
    height: auto;
    border-radius: 100px;
}

#js{
    width: auto;
    height: 310px;
}

#html, #css {
    width: auto;
    height: 145px;

} 
#html {
    margin-bottom: 10px;
    margin-right: 10px;
}
#css {
    margin-right: 50px;
}

.section1, .section2{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.top-container {
    background-color: black;
    
}

.menu-container {
    position: relative;
    display: inline-block;
  }
  
  .menu-button {
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #000;
    list-style: none;
    padding: 10px;
    display: none;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: white; 
    font-weight: normal;
    transition: font-weight 0.3s, box-shadow 0.3s;
    text-decoration: none;
  }
  
  /* Show the menu when the button is clicked */
  .menu-container:hover .menu {
    display: block;
   
  }



  .single-image{
    width: 500px;
    height: auto;
  }

  #txt-2, #txt-1{
    margin-top: 20px;
    color: #000;
  }

  .menu a:hover{
    font-weight: bold; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);

  }